body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
footer {
  font-size: 16px;
  position: fixed;
  bottom: 0;
  color: dimgray;
  height: 40px;
  padding-top: 8px;
  text-align: center;
  width: 100%;
}